atomicwrites==1.4.0
attrs==20.3.0
blis==0.7.4
catalogue==2.0.1
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
colorama==0.4.4
cymem==2.0.5
DeBERTa==0.1.12
idna==2.10
importlib-metadata==3.4.0
iniconfig==1.1.1
Jinja2==2.11.3
joblib==1.0.1
LASER==0.0.5
MarkupSafe==1.1.1
murmurhash==1.0.5
nltk==3.5
numpy==1.20.1
packaging==20.9
pathy==0.4.0
pluggy==0.13.1
preshed==3.0.5
psutil==5.8.0
py==1.10.0
pydantic==1.7.3
pyparsing==2.4.7
pytest==6.2.2
regex==2020.11.13
requests==2.25.1
scikit-learn==0.24.1
scipy==1.6.1
sentencepiece==0.1.95
seqeval==1.2.2
six==1.15.0
sklearn==0.0
smart-open==3.0.0
spacy==3.0.3
spacy-legacy==3.0.1
srsly==2.4.0
thinc==8.0.1
threadpoolctl==2.1.0
toml==0.10.2
torch==1.7.1
tqdm==4.57.0
typer==0.3.2
typing-extensions==3.7.4.3
ujson==4.0.2
urllib3==1.26.3
wasabi==0.8.2
zipp==3.4.0
